.checkout {
  display: flex;
  padding: 20px;
  height: max-content;
  max-width: 100%;
  min-width: 998px;
  width: 100%;
}

.checkout-left {
  margin-right: 10px;
}

.checkout-right {
  margin-left: 10px;
}

.checkout-title {
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.adsBox {
  margin: 20px;
  background-color: white;
}

.cartBox {
  margin: 20px 0 0;
  background-color: white;
  padding: 20px;
}

.subtotalBox {
  padding: 10px 10px 20px 10px;
  background-color: white;
}

.money {
  margin-left: 3px;
}

.largerFont {
  font-size: larger;
  font-weight: 500;
}

.subtotalAmount {
  text-align: right;
  padding-bottom: 15px;
}
