.home {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1500px;
  min-width: 998px;
}

.home-row {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 5px;
}

.home-body {
  margin-top: -400px;
}

.back-to-top {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.backToTopButtonColor {
  background-color: #37475a;
  border-radius: 25px;
  width: 200px;
}

.backToTopButtonColor:hover {
  background-color: #5a6674;
}
