.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.register-logo {
  margin: 15px auto;
  object-fit: contain;
  width: 103px;
  height: 31px;
}

.register-container {
  background-color: white;
  border-radius: 4px;
  padding: 14px 18px !important;
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.register-container > h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  padding-bottom: 4px;
}

.register-label {
  font-size: 13px;
  font-weight: 800;
  line-height: 19px;
  padding-left: 2px;
  padding-bottom: 2px;
  margin-top: 10px;
}

.register-container > form > input {
  height: 31px;
  padding: 3px 7px;
  line-height: normal;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
  outline: 0;
  color: black;
  font-size: 100%;
  vertical-align: middle;
}

.register-container > form > input::placeholder {
  font-size: 13px;
  font-weight: 500;
}

.password-alert {
  margin-top: 3px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 11px;
  font-weight: 500;
  line-height: 15px;
  color: #2b2b2b;
}

.register-agree-section {
  margin-top: 18px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  width: 100%;
}

.register-signin-button {
  background-image: linear-gradient(
    to bottom,
    rgb(250, 236, 200),
    rgb(239, 194, 78)
  );
  color: black;
  border-color: rgb(189, 168, 115);
  width: 100%;
  font-size: small;
  font-weight: 400;
  margin-top: 13px;
}

.register-signin-button:hover {
  background-image: linear-gradient(
    to bottom,
    rgb(250, 236, 200),
    rgb(240, 193, 76)
  );
  color: black;
  border-color: rgb(167, 135, 52);
}

.register-signin-button:focus {
  outline-color: rgb(238, 182, 40);
}

.go-back-signin {
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  margin-top: 18px;
  margin-bottom: 8px;
}

.go-back-signin-link {
  color: rgb(2, 104, 193);
  text-decoration: none;
}

.go-back-signin-link:hover {
  border-bottom: 1px solid rgb(2, 104, 193);
}
