.order-summary-container {
  width: 290px;
  margin-right: -290px;
  float: left;
  border: 1px solid lightgray;
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0;
}

.placeOrderButtonColor {
  background-color: rgb(255, 216, 21);
  color: black;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 35px;
  font-weight: 500;
  font-size: smaller;
}

.placeOrderButtonColor:hover {
  background-color: rgb(235, 191, 17);
  color: black;
}

.placeOrderButtonColor:focus {
  background-color: rgb(255, 216, 21);
  color: black;
  outline: none;
  outline-offset: none;
}

.buying-notice {
  font-size: 11px;
  font-weight: 500;
  color: rgb(100, 103, 103);
  margin-top: 5px;
  padding: 0 3px;
  margin-bottom: -15px;
}

.order-summary-title {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.order-total {
  color: #b12704;
  font-size: 18px;
  font-weight: 700;
  line-height: 45px;
  margin-top: 10px;
}

.order-summary-bottom {
  background-color: rgb(241, 242, 242);
  width: 290px;
  margin-right: -290px;
  float: left;
  border: 1px solid lightgray;
  margin-top: 310px;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
}

.order-summary-info-section > p {
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 5px;
}

.order-summary-table {
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
}
