.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.login-logo {
  margin: 20px auto;
  object-fit: contain;
  width: 100px;
}

.login-container {
  background-color: white;
  border-radius: 4px;
  padding: 20px 26px !important;
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.login-container > h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
}

.label {
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
}

.login-container > form > input {
  height: 30px;
  margin-bottom: 10px;
  width: 100%;
}

.agree-section {
  margin-top: 18px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  width: 100%;
}

.login-signin-button {
  background-image: linear-gradient(
    to bottom,
    rgb(250, 236, 200),
    rgb(239, 194, 78)
  );
  color: black;
  border-color: rgb(189, 168, 115);
  width: 100%;
  font-size: small;
  font-weight: 400;
  margin-top: 10px;
}

.login-signin-button:hover {
  background-image: linear-gradient(
    to bottom,
    rgb(250, 236, 200),
    rgb(240, 193, 76)
  );
  color: black;
  border-color: rgb(167, 135, 52);
}

.login-signin-button:focus {
  outline-color: rgb(238, 182, 40);
}

.login-signup-button {
  background-image: linear-gradient(
    to bottom,
    rgb(251, 251, 252),
    rgb(232, 233, 236)
  );
  color: black;
  border-radius: 2px;
  width: 100%;
  border: 1px solid darkgray;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 500;
  line-height: 29px;
  padding: 0 10px 0 11px;
  margin-bottom: 25px;
}

.login-signup-button:hover {
  background-image: linear-gradient(
    to bottom,
    rgb(232, 232, 232),
    rgb(213, 213, 213)
  );
  color: black;
  border-color: darkgray;
}

.divider {
  line-height: 1;
  font-size: 11px;
  color: #656464;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 3px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-top: 1px solid #e3e3e3;
}

.divider:not(:empty)::before {
  margin-right: 0.25em;
}

.divider:not(:empty)::after {
  margin-left: 0.25em;
}

.login-demo-info-box {
  width: 350px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.login-demo-info-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  width: 100%;
  color: grey;
}

.login-demo-credential {
  background-color: rgb(234, 237, 237);
  color: grey;
  margin-top: 5px;
  padding: 5px;
  line-height: 18px;
}
